@{
    ViewData["Title"] = "Plan ye Weddings Here";
}

<div class="container">
    <h1 class="display-4 text-center">Hitchin' Post</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md">
            <partial name="Register" />
        </div>
        <div class="col-md">
            <partial name="Login" />
        </div>
    </div>
</div>
